/* Theme 1 */
body {
  background-color: hsl(222, 26%, 31%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 50%;
  width: 25%;
  row-gap: 2.4rem;
}

.theme-numbers {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  list-style: none;
  font-size: 0.9rem;
  margin-right: 0.4rem;
  align-items: flex-end;
  margin-bottom: -2.3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-title {
  text-transform: lowercase;
}

.theme-input {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.theme-text {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  /* align-self: flex-end; */
}

input {
  height: 1.1rem;
  width: 1.2rem;
  appearance: none;
  background-color: #000;
  border-radius: 50%;
  opacity: 0;
}

input:hover {
  cursor: pointer;
}

.tri-toggle {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: hsl(223, 31%, 20%);
  padding: 0.3rem;
  border-radius: 5rem;
}

.btn {
  background-color: hsl(6, 63%, 50%);
  border-radius: 100%;
  transition: all 0.3s;
}

#toggle-one {
  opacity: 1;
}

.calc-display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: hsl(224, 36%, 15%);
  border-radius: 0.6rem;
  padding: 2.6rem;
}

.calc-numbers {
  font-size: 3.6rem;
}

.calc-input-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.8rem;
  background-color: hsl(223, 31%, 20%);
  padding: 2rem;
  border-radius: 0.6rem;
}

.calcBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.9rem;
  width: 6.6rem;
  background-color: hsl(30, 25%, 89%);
  border-radius: 0.6rem;
  cursor: pointer;
  color: hsl(221, 14%, 31%);
  font-size: 2.8rem;
  box-shadow: 0 0.3rem hsl(28, 16%, 65%);
  padding-top: 0.3rem;
  transition: all 0.3s;
}

.calcBtn:hover {
  background-color: #fff;
}

.decimalBtn {
  font-size: 1.4rem;
  padding-top: 0.8rem;
}

.resetBtn,
.delBtn {
  background-color: #637097;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.9rem;
  width: 100%;
  grid-column: 1 / 3;
  box-shadow: 0px 0.3rem hsl(224, 28%, 35%);
  letter-spacing: 0.05rem;
}

.resetBtn:hover,
.delBtn:hover {
  background-color: #a1a9c1;
}

.delBtn {
  grid-column: initial;
}

.equalsBtn {
  background-color: #d03f2f;
  grid-column: 3 / 5;
  width: 100%;
  color: #fff;
  font-size: 2rem;
  box-shadow: 0px 0.3rem hsl(6, 70%, 34%);
}

.btn:hover,
.equalsBtn:hover {
  background-color: #de796d;
}
