/* Theme 1 */
body {
  background-color: hsl(222, 26%, 31%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 50%;
  width: 25%;
  row-gap: 2.4rem;
}

.theme-numbers {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  list-style: none;
  font-size: 0.9rem;
  margin-right: 0.4rem;
  align-items: flex-end;
  margin-bottom: -2.3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-title {
  text-transform: lowercase;
}

.theme-input {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.theme-text {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  /* align-self: flex-end; */
}

input {
  height: 1.1rem;
  width: 1.2rem;
  appearance: none;
  background-color: #000;
  border-radius: 50%;
  opacity: 0;
}

input:hover {
  cursor: pointer;
}

.tri-toggle {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: hsl(223, 31%, 20%);
  padding: 0.3rem;
  border-radius: 5rem;
}

.btn {
  background-color: rgb(191, 24, 24);
  border-radius: 100%;
}

#toggle-one {
  opacity: 1;
}

.calc-display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: hsl(224, 36%, 15%);
  border-radius: 0.5rem;
  padding: 2.4rem;
}

.calc-numbers {
  font-size: 3.2rem;
}
